<gmap-map
    class="map-container"
    [latitude]="mapInitInfo.lat"
    [longitude]="mapInitInfo.lng"
    [zoom]="mapInitInfo.zoom"
    (mapClick)="gMapClick($event)"
    (rightClick)="gMapRightClick()"
	#mapComponent
>
  <ng-container *ngIf="mapComponent.gMap">
    <gmap-marker
        *ngFor="let marker of markers"
        [latitude]="marker.lat"
        [longitude]="marker.lng"
        [gMap]="mapComponent.gMap"
    >
    </gmap-marker>

    <gmap-polygon *ngIf="polygonPaths"
                  [gMap]="mapComponent.gMap"
                  [paths]="polygonPaths"
                  [fillColor]="polygonFillColor"
    ></gmap-polygon>
  </ng-container>
</gmap-map>

<div class="table-container">
  <ul (click)="listItemClick($event)">
    <li [id]="'li-' + i"
        *ngFor="let marker of markers; let i = index">{{marker.lat + ', ' +marker.lng}}</li>
  </ul>
</div>

<button class="btn"
        nz-button
        nzType="primary"
        (click)="changePolygonFillColor()">
  change polygon fill color
</button>
